[submodule "sailracetimerserver"]
	path = sailracetimerserver
	url = https://github.com/MFAshby/sailracetimerserver.git
[submodule "sailraceresults"]
	path = sailraceresults
	url = https://github.com/MFAshby/sailraceresults.git
